.settings-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.5rem;
}
.settings-field input {
  width: 30rem;
  font-size: 2rem;
  margin: 1rem 0;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.242);
  padding: 0.5rem;
}
.settings-button {
  outline: none;
  border: none;
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  cursor: pointer;
}
.settings-field button {
  background-color: #87d04c;
}
.settings-field button:hover {
  background-color: #6eb038;
}
.logout-settings {
  background-color: red;
}
