.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-carousel {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 4rem 0;
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.452);
  width: 800px;
  margin-bottom: 10rem;
}

@media screen and (max-width: 1080px) {
  .profile-carousel {
    width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .profile-carousel {
    width: 400px;
  }
}
@media screen and (max-width: 475px) {
  .profile-carousel {
    width: 270px;
  }
}
.profile-carousel h3 {
  font-size: 1.6rem;
  transform: translateY(-2rem);
  margin-left: 2rem;
}

.carousel-headings {
  display: flex;
  justify-content: space-between;
}

.more-link {
  font-size: 1.6rem;
  transform: translateY(-2rem);
  margin-right: 2rem;
}
.center-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.missing-favs-icon {
  font-size: 10rem;
  color: red;
}
